In [ ]:
import torch

import numpy as np
import pandas as pd
from glob import glob

from model import MLP
from data import scaling, inverse_scaling, preprocess_input_data

import warnings
warnings.filterwarnings("ignore")

device = torch.device("cuda" if torch.cuda.is_available()  else "cpu")

# sample_submission.csv
# final_train.csv
# final_test.csv

In [ ]:
def inference(state_dict: dict, x_test: np.array, x_cols):
    model = MLP(in_features=len(x_cols), out_features=35)
    model.load_state_dict(state_dict)
    model.to(device)
    model.eval()
    logits = model(torch.FloatTensor(x_test).to(device))
    return logits

def mean_stack_logits(fold_num, history_dict, x_test: np.array, x_cols, y_scaler=None):
    stack_logits = torch.zeros(len(x_test), 35).to(device).cpu()
    for i in range(fold_num):
        logits = inference(history_dict[i], x_test, x_cols).cpu().detach().numpy()

        if y_scaler is not None:
            logits = y_scaler.inverse_transform(logits)

        stack_logits += logits
    return stack_logits / fold_num

In [ ]:
y_cols = ['10','100','1000','101','1020','1040','1100','120','1200','121','140','150',
          '1510','160','200','201','251','2510','270','300','3000','301','351','352',
          '370','400','450','4510','500','550','5510','600','6000','650','652']

In [ ]:
# ensemble
files = glob(f'./*week*.pt')

model_list = []
for f in files:
    load = torch.load(f, map_location=torch.device('cpu'))
    model = load['model']
    model_list.append(model)
week = load['week']
y_scaler = load['y_scaler']

s = pd.Series([9999] * 3480)
_train = pd.read_csv('./final_train.csv').set_index(s)
_train = scaling(_train, y_cols, y_scaler)

_test = pd.read_csv('./final_test.csv')
_test = pd.concat([_train, _test], axis=0)
_test, x_cols = preprocess_input_data(_test, y_cols, week=week)

in_test = _test.copy()
 
for v in range(168):
    test_pred = mean_stack_logits(len(model_list), model_list, in_test.loc[v][x_cols].values.astype('float64').reshape(1, -1), x_cols)
    in_test.loc[v, y_cols] = test_pred.squeeze().detach().numpy()

out_test = in_test.copy()
out_test = inverse_scaling(out_test, y_cols, y_scaler)
result = out_test[y_cols].loc[0:167]

In [ ]:
_result = result.copy()

submission = pd.read_csv('./sample_submission.csv')

for i in range(168):
    submission.loc[i, y_cols] = _result.loc[i].values
    
submission

       timestamp             10  ...          5510          6000
0     20200525_0   83316.773251  ...   1581.602986   2503.082792
1     20200525_1   49501.148656  ...   1026.441028   1631.187564
2     20200525_2   37608.957973  ...    875.275948   1421.385609
3     20200525_3   44023.649312  ...   1024.064081   1872.128516
4     20200525_4   81026.609391  ...   1926.094226   3727.259421
..           ...            ...  ...           ...           ...
163  20200531_19  311633.134471  ...  10467.071212  19901.755895
164  20200531_20  298497.618132  ...   9575.013481  17670.696522
165  20200531_21  290345.959792  ...   7737.055953  13751.934982
166  20200531_22  241468.751894  ...   5382.581272   9188.997116
167  20200531_23  156538.073587  ...   2955.477345   4906.840052

[168 rows x 36 columns]

In [ ]:
submission.to_csv('_submission.csv', index=False)